<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886763545249-7ik6d9mme2prdvt1bggufv4jqhk050u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886763545249-7ik6d9mme2prdvt1bggufv4jqhk050u1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>886763545249-6vg1a3vnk1a2s9apuur84m6e777br1os.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHVo3z_6pofebL3AQgxr7NLys2sfTnkEs</string>
	<key>GCM_SENDER_ID</key>
	<string>886763545249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wbk.wincoremobile</string>
	<key>PROJECT_ID</key>
	<string>wincoremobile-c80dc</string>
	<key>STORAGE_BUCKET</key>
	<string>wincoremobile-c80dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886763545249:ios:90026ae3aab7139c7146e0</string>
</dict>
</plist>